* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calc {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.content {
  background: #1007be;
  /* background: linear-gradient(to right, #0745e3, #078be3, #0745e3); */

  padding: 20px;
  border-radius: 10px;
  border: 5px solid #000;
}
.content form input {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}
.backspace {
  background-color: rgb(237, 89, 30);
  color: white;
}
.res {
  padding: 10px;
}
.clear {
  background-color: rgb(237, 89, 30);
  color: white;
}
form .output {
  display: flex;
  border-radius: 10px;
  background-color: #1b3636;
  justify-content: flex-end;
  margin: 15px 0;
}
form .output input {
  background-color: #6cdbe6;
  margin: 5px;
  padding-right: 10px;
  text-align: right;
  flex: 1;
  font-size: 25px;
}
form .btn input {
  border: 3px solid #000;
}
